In [9]:
import pandas as pd

"""Construiremos un dataframe con una relacion de personas al azar con sus principales gustos o aficiones y su respectiva
    nacionalidad o pais de procedencia; para ello usaremos las columnas: "Nombres", "Aficion principal" y "Pais" """


columnas1 = ["Nombres", "Aficion principal", "Pais"]

nombres1 = ["Antonio", "Liliana", "Ana", "Daniel", "Luis", "Laura", "Julio", "Jorge", "Tania", "Cintia", "Ana", "Jose", 
           "Carlos", "Julia", "Pedro", "Ester", "Alberto", "Tatiana", "Pablo", "Marta", "Jorge", "Rosa", "Jesica", 
           "Ursula", "Luis", "Jose", "Miguel", "Raul", "Susana", "Vanesa", "Hiroshi", "Frank", "Anand", "Farah", "Jiyu",
           "Kumar", "Chang Min", "Rose", "Bastian", "Olga", "Jim"]

aficion_principal1 = ["Basquet", "Futbol", "Informatica", "Ajedrez", "Voley", "Futbol", "Ajedrez", "Karaoke", "Judo",
                     "Musica", "Reposteria", "Futbol", "Informatica", "Basquet", "Karaoke", "Musica", "Judo", "Teatro",
                     "Futbol", "Karaoke", "Lectura", "Futbol", "Voley", "Judo", "Ajedrez", "Voley", "Ajedrez", "Ajedrez",
                     "Karaoke", "Basquet", "Beisbol", "Basquet", "Criquet", "Voley", "Musica", "Criquet", "Basquet", 
                     "Musica", "Judo", "Ajedrez", "Karaoke"]

pais1 = ["Italia", "Argentina", "Cuba", "Colombia", "Venezuela", "Argentina", "Usa", "Brasil", "Peru", "Colombia", "Alemania",
         "Sudafrica", "Chile", "Bolivia", "Costa Rica" , "Panama", "Mexico", "Colombia", "Argentina", "España", "Honduras", 
         "Francia", "Peru", "Mexico", "Brasil", "Ecuador", "Usa", "Mexico", "Canada", "Argentina", "Japon", "Australia",
         "India", "Iran", "Corea del sur", "India", "China", "Reino Unido", "Francia", "Rusia", "Philipinas"]

datos = list(zip(nombres1, aficion_principal1, pais1))

df1 = pd.DataFrame(datos, columns=columnas1)


""" Ahora Construiremos otro dataframe con las col 'Pais', 'Aficion principal' 'Poblacion (millones)' donde escribiremos las 
    aficiones mas importantes de cada pais de la columna pais; luego haremos un merge con los dos dataframes, con el parametro 'on'
     con los valores 'Pais' y 'Aficion principal' """

columnas2 = ["Pais", "Aficion principal", "Poblacion (millones)"]

pais2 = ["Italia", "Argentina", "Cuba", "Colombia", "Venezuela", "Usa", "Brasil", "Peru", "Alemania", "Sudafrica", "Chile",
         "Bolivia", "Costa Rica", "Panama", "Mexico", "España", "Honduras", "Francia", "Ecuador", "Canada", "Japon", "Australia",
         "India", "Iran", "Corea del sur", "China", "Reino Unido", "Rusia", "Philipinas"]

aficion_principal2 = ["Futbol", "Futbol", "Musica", "Musica", "Beisbol", "Beisbol", "Futbol", "Musica", "Lectura", "Musica", 
                      "Informatica", "Informatica", "Ajedrez", "Ajedrez", "Teatro", "Basquet", "Musica", "Judo", "Musica",
                      "Voley", "Beisbol", "Basquet", "Criquet", "Voley", "Musica", "Basquet", "Futbol", "Ajedrez", "Karaoke"]

poblacion_millones = [58, 45, 11, 52, 28, 339, 216, 34, 83, 60, 19, 12, 5, 4, 128, 47, 10, 64, 18, 38, 123, 26, 1428, 89,
                        51, 1425, 67, 144, 117]

datos2 = list(zip(pais2, aficion_principal2, poblacion_millones))

df2 = pd.DataFrame(datos2, columns=columnas2)

Obtenemos el dataframe df1

In [10]:
df1

      Nombres Aficion principal           Pais
0     Antonio           Basquet         Italia
1     Liliana            Futbol      Argentina
2         Ana       Informatica           Cuba
3      Daniel           Ajedrez       Colombia
4        Luis             Voley      Venezuela
5       Laura            Futbol      Argentina
6       Julio           Ajedrez            Usa
7       Jorge           Karaoke         Brasil
8       Tania              Judo           Peru
9      Cintia            Musica       Colombia
10        Ana        Reposteria       Alemania
11       Jose            Futbol      Sudafrica
12     Carlos       Informatica          Chile
13      Julia           Basquet        Bolivia
14      Pedro           Karaoke     Costa Rica
15      Ester            Musica         Panama
16    Alberto              Judo         Mexico
17    Tatiana            Teatro       Colombia
18      Pablo            Futbol      Argentina
19      Marta           Karaoke         España
20      Jorge           Lectura       Honduras
21       Rosa            Futbol        Francia
22     Jesica             Voley           Peru
23     Ursula              Judo         Mexico
24       Luis           Ajedrez         Brasil
25       Jose             Voley        Ecuador
26     Miguel           Ajedrez            Usa
27       Raul           Ajedrez         Mexico
28     Susana           Karaoke         Canada
29     Vanesa           Basquet      Argentina
30    Hiroshi           Beisbol          Japon
31      Frank           Basquet      Australia
32      Anand           Criquet          India
33      Farah             Voley           Iran
34       Jiyu            Musica  Corea del sur
35      Kumar           Criquet          India
36  Chang Min           Basquet          China
37       Rose            Musica    Reino Unido
38    Bastian              Judo        Francia
39       Olga           Ajedrez          Rusia
40        Jim           Karaoke     Philipinas

obtenemos el dataframe df2

In [11]:
df2

             Pais Aficion principal  Poblacion (millones)
0          Italia            Futbol                    58
1       Argentina            Futbol                    45
2            Cuba            Musica                    11
3        Colombia            Musica                    52
4       Venezuela           Beisbol                    28
5             Usa           Beisbol                   339
6          Brasil            Futbol                   216
7            Peru            Musica                    34
8        Alemania           Lectura                    83
9       Sudafrica            Musica                    60
10          Chile       Informatica                    19
11        Bolivia       Informatica                    12
12     Costa Rica           Ajedrez                     5
13         Panama           Ajedrez                     4
14         Mexico            Teatro                   128
15         España           Basquet                    47
16       Honduras            Musica                    10
17        Francia              Judo                    64
18        Ecuador            Musica                    18
19         Canada             Voley                    38
20          Japon           Beisbol                   123
21      Australia           Basquet                    26
22          India           Criquet                  1428
23           Iran             Voley                    89
24  Corea del sur            Musica                    51
25          China           Basquet                  1425
26    Reino Unido            Futbol                    67
27          Rusia           Ajedrez                   144
28     Philipinas           Karaoke                   117

Ahora haremos uso de la funcion merge de los dos dataframes: df1 y df2, con las columnas 'Pais' y 'Aficion principal' como los valores del parametro 'on'

In [13]:
pd.merge(df1, df2, on=['Pais', 'Aficion principal'])

      Nombres Aficion principal           Pais  Poblacion (millones)
0     Liliana            Futbol      Argentina                    45
1       Laura            Futbol      Argentina                    45
2       Pablo            Futbol      Argentina                    45
3      Cintia            Musica       Colombia                    52
4      Carlos       Informatica          Chile                    19
5     Hiroshi           Beisbol          Japon                   123
6       Frank           Basquet      Australia                    26
7       Anand           Criquet          India                  1428
8       Kumar           Criquet          India                  1428
9       Farah             Voley           Iran                    89
10       Jiyu            Musica  Corea del sur                    51
11  Chang Min           Basquet          China                  1425
12    Bastian              Judo        Francia                    64
13       Olga           Ajedrez          Rusia                   144
14        Jim           Karaoke     Philipinas                   117

Ademas hacemos uso del parametro 'how' y sus variantes: inner, outer, left y right

In [14]:
pd.merge(df1, df2, on=['Pais', 'Aficion principal'], how='inner')

      Nombres Aficion principal           Pais  Poblacion (millones)
0     Liliana            Futbol      Argentina                    45
1       Laura            Futbol      Argentina                    45
2       Pablo            Futbol      Argentina                    45
3      Cintia            Musica       Colombia                    52
4      Carlos       Informatica          Chile                    19
5     Hiroshi           Beisbol          Japon                   123
6       Frank           Basquet      Australia                    26
7       Anand           Criquet          India                  1428
8       Kumar           Criquet          India                  1428
9       Farah             Voley           Iran                    89
10       Jiyu            Musica  Corea del sur                    51
11  Chang Min           Basquet          China                  1425
12    Bastian              Judo        Francia                    64
13       Olga           Ajedrez          Rusia                   144
14        Jim           Karaoke     Philipinas                   117

In [15]:
pd.merge(df1, df2, on=['Pais', 'Aficion principal'], how='outer')

      Nombres Aficion principal           Pais  Poblacion (millones)
0     Antonio           Basquet         Italia                   NaN
1     Liliana            Futbol      Argentina                  45.0
2       Laura            Futbol      Argentina                  45.0
3       Pablo            Futbol      Argentina                  45.0
4         Ana       Informatica           Cuba                   NaN
5      Daniel           Ajedrez       Colombia                   NaN
6        Luis             Voley      Venezuela                   NaN
7       Julio           Ajedrez            Usa                   NaN
8      Miguel           Ajedrez            Usa                   NaN
9       Jorge           Karaoke         Brasil                   NaN
10      Tania              Judo           Peru                   NaN
11     Cintia            Musica       Colombia                  52.0
12        Ana        Reposteria       Alemania                   NaN
13       Jose            Futbol      Sudafrica                   NaN
14     Carlos       Informatica          Chile                  19.0
15      Julia           Basquet        Bolivia                   NaN
16      Pedro           Karaoke     Costa Rica                   NaN
17      Ester            Musica         Panama                   NaN
18    Alberto              Judo         Mexico                   NaN
19     Ursula              Judo         Mexico                   NaN
20    Tatiana            Teatro       Colombia                   NaN
21      Marta           Karaoke         España                   NaN
22      Jorge           Lectura       Honduras                   NaN
23       Rosa            Futbol        Francia                   NaN
24     Jesica             Voley           Peru                   NaN
25       Luis           Ajedrez         Brasil                   NaN
26       Jose             Voley        Ecuador                   NaN
27       Raul           Ajedrez         Mexico                   NaN
28     Susana           Karaoke         Canada                   NaN
29     Vanesa           Basquet      Argentina                   NaN
30    Hiroshi           Beisbol          Japon                 123.0
31      Frank           Basquet      Australia                  26.0
32      Anand           Criquet          India                1428.0
33      Kumar           Criquet          India                1428.0
34      Farah             Voley           Iran                  89.0
35       Jiyu            Musica  Corea del sur                  51.0
36  Chang Min           Basquet          China                1425.0
37       Rose            Musica    Reino Unido                   NaN
38    Bastian              Judo        Francia                  64.0
39       Olga           Ajedrez          Rusia                 144.0
40        Jim           Karaoke     Philipinas                 117.0
41        NaN            Futbol         Italia                  58.0
42        NaN            Musica           Cuba                  11.0
43        NaN           Beisbol      Venezuela                  28.0
44        NaN           Beisbol            Usa                 339.0
45        NaN            Futbol         Brasil                 216.0
46        NaN            Musica           Peru                  34.0
47        NaN           Lectura       Alemania                  83.0
48        NaN            Musica      Sudafrica                  60.0
49        NaN       Informatica        Bolivia                  12.0
50        NaN           Ajedrez     Costa Rica                   5.0
51        NaN           Ajedrez         Panama                   4.0
52        NaN            Teatro         Mexico                 128.0
53        NaN           Basquet         España                  47.0
54        NaN            Musica       Honduras                  10.0
55        NaN            Musica        Ecuador                  18.0
56        NaN             Voley         Canada                  38.0
57        NaN            Futbol    Reino Unido                  67.0

In [16]:
pd.merge(df1, df2, on=['Pais', 'Aficion principal'], how='left')

      Nombres Aficion principal           Pais  Poblacion (millones)
0     Antonio           Basquet         Italia                   NaN
1     Liliana            Futbol      Argentina                  45.0
2         Ana       Informatica           Cuba                   NaN
3      Daniel           Ajedrez       Colombia                   NaN
4        Luis             Voley      Venezuela                   NaN
5       Laura            Futbol      Argentina                  45.0
6       Julio           Ajedrez            Usa                   NaN
7       Jorge           Karaoke         Brasil                   NaN
8       Tania              Judo           Peru                   NaN
9      Cintia            Musica       Colombia                  52.0
10        Ana        Reposteria       Alemania                   NaN
11       Jose            Futbol      Sudafrica                   NaN
12     Carlos       Informatica          Chile                  19.0
13      Julia           Basquet        Bolivia                   NaN
14      Pedro           Karaoke     Costa Rica                   NaN
15      Ester            Musica         Panama                   NaN
16    Alberto              Judo         Mexico                   NaN
17    Tatiana            Teatro       Colombia                   NaN
18      Pablo            Futbol      Argentina                  45.0
19      Marta           Karaoke         España                   NaN
20      Jorge           Lectura       Honduras                   NaN
21       Rosa            Futbol        Francia                   NaN
22     Jesica             Voley           Peru                   NaN
23     Ursula              Judo         Mexico                   NaN
24       Luis           Ajedrez         Brasil                   NaN
25       Jose             Voley        Ecuador                   NaN
26     Miguel           Ajedrez            Usa                   NaN
27       Raul           Ajedrez         Mexico                   NaN
28     Susana           Karaoke         Canada                   NaN
29     Vanesa           Basquet      Argentina                   NaN
30    Hiroshi           Beisbol          Japon                 123.0
31      Frank           Basquet      Australia                  26.0
32      Anand           Criquet          India                1428.0
33      Farah             Voley           Iran                  89.0
34       Jiyu            Musica  Corea del sur                  51.0
35      Kumar           Criquet          India                1428.0
36  Chang Min           Basquet          China                1425.0
37       Rose            Musica    Reino Unido                   NaN
38    Bastian              Judo        Francia                  64.0
39       Olga           Ajedrez          Rusia                 144.0
40        Jim           Karaoke     Philipinas                 117.0

In [17]:
pd.merge(df1, df2, on=['Pais', 'Aficion principal'], how='right')

      Nombres Aficion principal           Pais  Poblacion (millones)
0         NaN            Futbol         Italia                    58
1     Liliana            Futbol      Argentina                    45
2       Laura            Futbol      Argentina                    45
3       Pablo            Futbol      Argentina                    45
4         NaN            Musica           Cuba                    11
5      Cintia            Musica       Colombia                    52
6         NaN           Beisbol      Venezuela                    28
7         NaN           Beisbol            Usa                   339
8         NaN            Futbol         Brasil                   216
9         NaN            Musica           Peru                    34
10        NaN           Lectura       Alemania                    83
11        NaN            Musica      Sudafrica                    60
12     Carlos       Informatica          Chile                    19
13        NaN       Informatica        Bolivia                    12
14        NaN           Ajedrez     Costa Rica                     5
15        NaN           Ajedrez         Panama                     4
16        NaN            Teatro         Mexico                   128
17        NaN           Basquet         España                    47
18        NaN            Musica       Honduras                    10
19    Bastian              Judo        Francia                    64
20        NaN            Musica        Ecuador                    18
21        NaN             Voley         Canada                    38
22    Hiroshi           Beisbol          Japon                   123
23      Frank           Basquet      Australia                    26
24      Anand           Criquet          India                  1428
25      Kumar           Criquet          India                  1428
26      Farah             Voley           Iran                    89
27       Jiyu            Musica  Corea del sur                    51
28  Chang Min           Basquet          China                  1425
29        NaN            Futbol    Reino Unido                    67
30       Olga           Ajedrez          Rusia                   144
31        Jim           Karaoke     Philipinas                   117